.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .title-container img {
    width: 100px;
    margin-top: 10px; /* Ajusta según sea necesario */
  }
  
